/* IMECTF Platform style */

body {
  position: relative;
  background-color: #333;
  min-height: 100vh;
}

.main {
  position: relative;
  height: calc(100% - 92px);
  margin-top: 14px;
  margin-bottom: 60px;
}

.full {
  height: 100%;
}

.ui.grid {
  margin: 0;
}

/* Menu */

.ui.secondary.inverted.menu {
  background-color: #000 !important;
  border: none;
  margin: 0;
}

.menu-item {
  height: 46px;
  overflow: hidden;
  border: none !important;
  padding: 14px 0 !important;
  margin: 0 !important;
}

.menu-item:hover {
  background: none !important;
}

.menu-item.active a {
  height: 46px;
  padding-top: 14px;
}

.menu-item a {
  border-bottom: 3px solid #fff;
  height: 52px;
  padding: 17px 12px 12px 12px;
  transition: all .15s ease;
}

.menu-item:hover a,
.menu-item:focus a {
  background: linear-gradient(transparent, #222) !important;
  height: 46px;
  padding-top: 16px;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bottom .menu-item a {
  border-bottom: none !important;
  border-top: 3px solid #fff;
  padding-top: 14px;
}

.bottom .menu-item:hover a,
.bottom .menu-item:focus a {
  background: linear-gradient(#222, transparent) !important;
  padding-top: 10px;
}

/* Login */

.login-form {
  max-width: 450px;
}

/* Contest */

.competition {
  display: table;
  width: 100%;
  margin-top: 0;
  margin-bottom: 46px;
}

.competition-list {
  display: table-cell;
  width: 20%;
  min-width: 200px;
  overflow-y: auto;
  background: #aaa;
  height: 100%;
  border-right: 2px #111 solid;
  vertical-align: top;
}

.competition-list-header {
  width: 100%;
  background: #777;
  padding: 12px;
  border-bottom: solid 2px #111;
  font-weight: bold;
}

.competition-wrapper {
  display: table-cell;
  width: 80%;
  height: 100%;
  overflow: hidden;
  vertical-align: top;
}

@media (max-width: 723px) {
  .competition-list {
    display: table;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 2px #111 solid;
  }

  .competition-wrapper {
    display: table;
    width: 100%;
    height: auto;
  }
}

.competition-content {
  position: relative;
  float: left;
  display: table-cell;
  width: 50%;
  height: 100%;
  margin: 0 !important;
  background: #ddd;
}

.competition-content .problem {
  height: calc(100% - 80px);
  margin-bottom: 80px;
}

.competition-content .problem-header{
  margin-bottom: 1em;
}

.competition-content .problem-desc {
  height: calc(100% - 2.2em);
  overflow-y: auto;
}

.competition-content .input-flag {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}

.competition-shell {
  position: relative;
  float: left;
  display: table-cell;
  width: 50%;
  height: 100%;
  background: #222;
}

/* Small and Medium monitor: content atop shell */
@media (max-width: 1127px) {
  .competition-content {
    height: 50%;
    width: 100%;
  }

  .competition-shell {
    height: 50%;
    width: 100%;
  }
}

/* problem explorer */
.ui.list {
  padding-top: 12px !important;
}

.ui.list i.icon {
  padding-left: 12px !important;
}

.ui.list>.item {
  padding: .4em 0;
}

.ui.list .list {
  padding: .5em 0 0 0;
}

.ui.list .list>.item,
.ui.list .list>.item:first-child,
.ui.list .list>.item:last-child {
  padding: .4em 1em;
}

.ui.list .list>.item.accepted {
  background-color: rgba(32, 255, 32, .4);
}

.ui.list .list>.item:not(.accepted):focus,
.ui.list .list>.item:not(.accepted):hover {
  background-color: rgba(255,255,255,0.2);
}

/* problem explorer icon changer */
/* file icon if problem not solved */
/* flag icon if problem solved */
a.problem > i.icon + i.icon,
a.problem.accepted > i.icon {
  display: none !important;
}

a.problem.accepted > i.icon + i.icon {
  display: table-cell !important;
}
