/* IMECTF Platform style */

body {
  background-color: #333;
}

.ui.secondary.inverted.menu {
  background-color: #000 !important;
  border: none;
}

.menu-item {
  height: 46px;
  overflow: hidden;
  border: none !important;
  padding: 14px 0 !important;
  margin: 0 !important;
}

.menu-item:hover {
  background: none !important;
}

.menu-item.active a {
  height: 46px;
  padding-top: 14px;
}

.menu-item a {
  border-bottom: 3px solid #fff;
  height: 52px;
  padding: 17px 12px 12px 12px;
  transition: all .15s ease;
}

.menu-item:hover a,
.menu-item:focus a {
  background: linear-gradient(transparent, #222) !important;
  height: 46px;
  padding-top: 16px;
}

.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bottom .menu-item a {
  border-bottom: none !important;
  border-top: 3px solid #fff;
  transition: all .15s ease;
  padding-top: 14px;
}

.bottom .menu-item:hover a,
.bottom .menu-item:focus a {
  background: linear-gradient(#222, transparent) !important;
  padding-top: 10px;
}

.login-form {
  max-width: 450px;
}

.main {
  padding-top: 32px;
}
